body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e2e8f0;
}

section {
  padding: 70px 20px;
  max-width: 1000px;
  margin: auto;
}

h1, h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

p {
  color: #cbd5e1;
  line-height: 1.6;
}

a {
  color: #38bdf8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
div:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}
html {
  scroll-behavior: smooth;
}